<router-outlet></router-outlet>
<!-- Button trigger modal -->
<div class="container">
  <div class="row justify-content-md-center">
      <div class="card m-1 bg-dark d-flex align-items-center" style="width: 18rem; min-width: 18rem;" *ngFor="let pokemon of pokemons">
        <h4 class="text-light">{{pokemon.name}}</h4>
        <img src={{pokemon.img}} class="card-img-top" alt={{pokemon.name}}>
        <div class="card-body w-100">
          <ul class="list-group">
            <li class="list-group-item">HP: <span class="fw-bolder">{{pokemon.hp}}</span> ❤ </li>
            <li class="list-group-item">ATK: <span class="fw-bolder">{{pokemon.attack}}</span> ⚔ </li>
            <li class="list-group-item">DEF: <span class="fw-bolder">{{pokemon.defense}}</span> ⛨ </li>
          </ul>
        </div>
      </div>
    </div>
  </div>



